# Composer dependencies
/vendor/
/composer.lock

# TYPO3 public web root (created by cms-composer-installers)
/public/

# PHP CS Fixer cache
.php-cs-fixer.cache

# PHPUnit cache/results
/.phpunit.cache/
